[submodule "EasySteer"]
	path = EasySteer
	url = https://github.com/ZJU-REAL/EasySteer.git
[submodule "eval_awareness"]
	path = eval_awareness
	url = https://github.com/AMindToThink/eval_awareness.git
[submodule "rlfh-gen-div"]
	path = rlfh-gen-div
	url = https://github.com/AMindToThink/rlfh-gen-div.git
[submodule "Test_Awareness_Steering"]
	path = Test_Awareness_Steering
	url = https://github.com/microsoft/Test_Awareness_Steering.git
